<h1>Events</h1>

<% @events.each do |e| %>
  <h1><%=link_to e.name.titleize, event_path(e) %></h1>
  <ul>
    <li><%= e.readable_time(e.start) %></li>
    <li><%= e.readable_time(e.end_time) %></li>
    <li><%= distance_of_time_in_words(e.start, e.end_time).capitalize %></li>
  </ul>
<% end %>

<br>
<%= link_to "Add new event", new_event_path %>
