<h1>Add Event</h1>

<% if @event.errors.any? %>
  <div id="error_explanation">
    <h3>
      <%= pluralize(@event.errors.count, "error") %>
      prevented this event from being saved:
    </h3>
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><font color="red"><%= msg %></font></li>
    <% end %>
    </ul>
  </div>
<% end %>

<font color="red"><%= flash[:alert] %></font><br>

<%= form_for :event, url: '/events' do |f| %>
  <label>Name:</label><br>
  <%= f.text_field :name %>
  <br><br>
  <label>Location Name:</label><br>
  <%= collection_select(:event, :location, Location.all, :id, :capitalized_names, @loc ? {selected: @loc.name} : {selected: "Select Location"}) %>
  <br><br>
  <label>Start Date & Time:</label><br>
  <%= f.datetime_select(:start, start_year: 2018, ampm: true) %>
  <br><br>
  <label>End Date & Time:</label><br>
  <%= f.datetime_select(:end_time, start_year: 2018, ampm: true) %>
  <br><br>
  <%= f.submit %>
<% end %>
<br><br>
<p>If your event's location is not listed, please add it <%= link_to "here", new_location_path %> first</p>
