<h1>Add Event</h1>

<%= form_for :event, url: '/events' do |f| %>
  <label>Name:</label><br>
  <%= f.text_field :name %>
  <br><br>
  <label>Start:</label><br>
  <%= f.text_field :start %>
  <br><br>
  <label>End:</label><br>
  <%= f.text_field :end %>
  <br><br>
  <label>Location Name:</label><br>
  <%= f.text_field :location_name %>
  <br><br>
  <%= f.submit %>
<% end %>
