<% console %>
<h2><%= @event.name.titleize %></h2>

  <h4>Where:</h4>
    <ul>
      <li><%= link_to @location.name.titleize, locations_path(@location) %></li>
      <li><%= @location.address %>, <%= @location.city %> - <%= @location.zip_code %></li>
    </ul>
  <h4>When:</h4>
    <ul>
      <li><%= @event.readable_time(@event.start) %></li>
      <li><%= @event.readable_time(@event.end_time) %></li>
      <li><%= distance_of_time_in_words(@event.start, @event.end_time).capitalize %></li>
    </ul>

<%= button_to "RSVP", event_rsvp_index_path(@event), data: {confirm: "Are you sure you want to RSVP to #{@event.name.titleize} at #{@location.name.titleize}?"} %>
<br><br>
<%= link_to "Return Home", root_path %>
