<h2 class="indent-header">Add Location</h2>

<% if @location.errors.any? %>
  <div id="error_explanation">
    <h3>
      <%= pluralize(@location.errors.count, "error") %>
      prevented this location from being saved:
    </h3>
    <ul>
    <% @location.errors.full_messages.each do |msg| %>
      <li><font color="red"><%= msg %></font></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="indent-elements">
  <%= form_for :location, url: '/locations' do |f| %>
    <label>Name:</label><br>
    <%= f.text_field :name %>
    <br><br>
    <label>Address:</label><br>
    <%= f.text_field :address %>
    <br><br>
    <label>City:</label><br>
    <%= f.text_field :city %>
    <br><br>
    <label>State:</label><br>
    <%= f.text_field :state %>
    <br><br>
    <label>Zip Code:</label><br>
    <%= f.text_field :zip_code %>
    <br><br>
    <%= f.submit %>
  <% end %>
</div>


<% console %>
