<h1><%= @location.name.titleize %></h1>
<p><%= @location.address %>. <%= @location.city.titleize %>, <%= @location.state.titleize %></p>
<ul>
  <%= @location.events.each do |e| %>
    <li><%= link_to e.name, location_event_path(@location, e) %></li>
  <% end %>
</ul>

<%= link_to "Add events for this location", new_location_event_path(@location) %>
