<!DOCTYPE html>
<html>
  <head>
    <title>EventPlannerRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=League+Script" rel="stylesheet">
  </head>

  <body>
    <div class='contaier'>
      <div class='row'>
      <div class='nav navbar-default'>
        <a href='/' class='navbar-brand main-head'>Event Planner</a>
        <ul class='nav nav-pills pull-right'>
          <li class='nav-element'><%= link_to "Events", events_path %></li>
          <li class='nav-element'><%= link_to "Locations", locations_path %></li>
          <li class='divider-vertical'></li>
        </ul>
      </div>
    </div>
    </div>

    <%= yield %>
  </body>
</html>
